.productImageCarousel {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: [thumbnails] 75px [image] 1fr;
  grid-template-areas: "thumbnails image";
  gap: 15px;
  width: 100%;
}

.productImageCarouselMainImage {
  grid-area: image;
  width: 100%;
  display: flex;
  border-radius: 20px;
}

.productImageCarouselThumbnails {
  grid-area: thumbnails;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.productImageCarouselThumbnailImage {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.productImageCarouselMoveButton {
  display: none;
  width: 31px;
  height: 31px;
  background: transparent;
  cursor: pointer;
  padding: 0;
  border: 1px solid var(--product-image-carousel-move-button-border-color);
  border-radius: 8px;
  margin: 0;
  outline: none;
}

.productImageCarouselMoveButtonIcon {
  width: 14px;
  height: 14px;
}

.productImageCarouselMoveButtonIcon path {
  stroke: var(--product-image-carousel-move-button-icon-color);
}

.productImageCarouselNextButtonIcon {
  transform: rotate(180deg);
}

.productImageCarouselPreviousButton {
  grid-area: previous;
}

.productImageCarouselNextButton {
  grid-area: next;
}

@media (max-width: 1050px) {

  .productImageCarousel {
    grid-template-columns: [image] 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: "image"
      "thumbnails";
  }

  .productImageCarouselThumbnails {
    flex-direction: row;
    justify-content: center;
    height: 100%;
    gap: 20px;
  }

  .productImageCarouselThumbnailImage {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 768px) {

  .productImageCarousel {
    grid-template-columns: [previous] 32px [image] 1fr [next] 32px;
    grid-template-rows: 1fr 50px;
    grid-template-areas: "previous image next"
      "thumbnails thumbnails thumbnails";
    row-gap: 20px;
  }

  .productImageCarouselMoveButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
