.productsFilterBar {
  display: grid;
  align-items: center;
  grid-template-columns: 275px 1fr 260px;
  margin-bottom: 50px;
  gap: 20px;
  font-size: 14px;
  font-weight: 600;
}

.productsFilterSortWrapper {
  display: grid;
  grid-template-columns: 1fr 196px;
  align-items: center;
}

@media (max-width: 768px) {

  .productsFilterBar {
    grid-template-columns: 1fr;
  }

  .productsFilterSortWrapper {
    grid-template-columns: 60px 1fr;
    gap: 10px;
  }
}
