:global :root.dark {
  --products-filter-category-button-text-color: var(--main-white-color);
}

:global :root.light {
  --products-filter-category-button-text-color: var(--sixth-grey-color);
}

.productsFilterBar {
  display: grid;
  align-items: center;
  grid-template-columns: 275px 1fr 260px;
  margin-bottom: 50px;
  gap: 20px;
  font-size: 14px;
  font-weight: 600;
}

.productsFilterCategoryWrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.productsFilterCategoryCheckbox {
  position: absolute;
  appearance: none;
}

.productsFilterCategoryButton {
  line-height: 1.3;
  font-weight: 600;
  color: var(--products-filter-category-button-text-color);
}

.productsFilterCategoryButton:hover {
  background-color: var(--main-red-hover-color);
  border-color: var(--main-red-hover-color);
  color: var(--main-white-color);
}

.productsFilterCategoryCheckbox:checked + .productsFilterCategoryButton {
  background-color: var(--main-red-color);
  border-color: var(--main-red-color);
  color: var(--main-white-color);
}

.productsFilterSortWrapper {
  display: grid;
  grid-template-columns: 1fr 196px;
  align-items: center;
}

@media (max-width: 768px) {

  .productsFilterBar {
    grid-template-columns: 1fr;
  }

  .productsFilterCategoryWrapper {
    justify-content: center;
    flex-wrap: wrap;
  }

  .productsFilterSortWrapper {
    grid-template-columns: 60px 1fr;
    gap: 10px;
  }
}
