.headerNavigation {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0 20px 0 0;
  grid-area: nav;
}

.headerNavigationLink {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
  color: var(--header-link-color);
  background: none;
  padding: 0;
  border: none;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  outline: none;
}

.headerNavigationLink:hover {
  color: var(--header-link-color);
  font-weight: 700;
}

.headerNavigationLinkActive {
  font-weight: 700;
}

@media (max-width: 768px) {

  .headerNavigation {
    display: none;
    align-self: end;
    flex-direction: column;
    text-align: center;
  }

  :global(.mobileMenuOpened) .headerNavigation {
    display: flex;
    padding-right: 0;
  }

  .headerNavigationLink {
    color: var(--header-mobile-link-color);
  }

  .headerNavigationLink:hover {
    color: var(--header-mobile-link-color);
  }
}
