.productsList {
  display: flex;
  justify-content: center;
  margin: 0 0 60px;
  padding: 0;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.productListItem {
  display: flex;
}

.productsListEmpty {
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 768px) {

  .productsList {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
  }
}
