.headerNav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.headerNavLink {
  font-weight: 500;
  cursor: pointer;
}

.headerNavLinkActive {
  font-weight: 700;
}

@media (max-width: 768px) {

  .headerNav {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {

  .headerNavLink {
    color: #FFF;
  }

  .headerNavLink:hover {
    color: #FFF;
  }
}

@media (prefers-color-scheme: light) {

  .headerNavLink {
    color: #FFF;
  }

  .headerNavLink:hover {
    color: #FFF;
  }
}
