.headerModeSwitcherButton {
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  outline: none;
}

.headerModeInactiveIcon path {
  stroke: #656565;
}

@media (max-width: 768px) {

  .headerModeSwitcher {
    display: none;
  }
}
