.headerAccount {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerButton {
  display: flex;
  gap: 5px;
  border-radius: 40px;
  padding: 5px 10px;
  background: var(--main-red-color);
  color: var(--main-white-color);
}

.headerButton:hover {
  background: var(--main-red-hover-color);
  color: var(--main-white-color);
}

.headerButton.loginButton {
  background: var(--secondary-grey-color);
}

.headerButton.loginButton:hover {
  background: var(--third-grey-color);
}

@media (max-width: 768px) {

  .headerAccount {
    display: none;
  }
}
