.headerNav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.headerNavLink {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
  color: #FFF;
  background: none;
  padding: 0;
  border: none;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
}

.headerNavLink:hover {
  color: #FFF;
}

.headerNavLinkActive {
  font-weight: 700;
}

@media (max-width: 768px) {

  .headerNav {
    display: none;
  }
}
