.header {
  width: 100%;
  padding: 17px 0;
  color: var(--main-white-color);
  background-color: var(--main-grey-color);
}

.headerColumnWrapper {
  display: grid;
  align-items: center;
  grid-template-columns: [logo] 96px [mode-switcher] 80px [empty] 1fr [nav] 1fr [cart-icon] 45px [user-nav] 220px;
}

.headerLogoLink {
  display: flex;
  grid-area: logo;
}

.headerModeSwitcher {
  display: flex;
  grid-area: mode-switcher;
}

.headerModeSwitcherButton {
  display: flex;
  cursor: pointer;
  background: none;
  padding: 0;
  border: none;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  outline: none;
}

.headerModeInactiveIcon path {
  stroke: var(--sixth-grey-color);
}

.headerModeInactiveIcon:hover path {
  stroke: var(--main-white-color);
}

.headerNav {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0 20px 0 0;
  grid-area: nav;
}

.headerNavLink {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
  color: var(--main-white-color);
  background: none;
  padding: 0;
  border: none;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  outline: none;
}

.headerNavLink:hover {
  color: var(--main-white-color);
}

.headerNavLinkActive {
  font-weight: 700;
}

.headerCart {
  display: flex;
  grid-area: cart-icon;
}

.headerCartCounter {
  display: flex;
}

.headerMobileMenu {
  display: none;
  grid-area: mobile-menu;
}

@media (max-width: 768px) {

  .header {
    height: 100%;
    font-size: 20px;
  }

  .headerColumnWrapper {
    grid-template-columns: [logo] 1fr [cart-icon] 45px [mobile-menu] 30px;
    grid-template-areas: "logo cart-icon mobile-menu";
  }

  :global(.mobileMenuOpened) .headerColumnWrapper {
    height: 100%;
    grid-template-columns: [logo] 1fr [cart-icon] 45px [mobile-menu] 30px;
    grid-template-rows: [row1] 46px [row2] 1fr [row3] max-content [row4] 1fr;
    grid-template-areas: "logo cart-icon mobile-menu"
      "nav nav nav"
      "user-nav user-nav user-nav"
      "mode-switcher mode-switcher mode-switcher";
    row-gap: 20px;
  }

  .headerNav {
    display: none;
    align-self: end;
    flex-direction: column;
    text-align: center;
  }

  :global(.mobileMenuOpened) .headerNav {
    display: flex;
    padding-right: 0;
  }

  .headerModeSwitcher {
    display: none;
  }

  :global(.mobileMenuOpened) .headerModeSwitcher {
    display: flex;
    justify-self: center;
    align-self: start;
  }

  .headerCart {
    margin-right: 15px;
  }

  .headerMobileMenu {
    display: flex;
  }
}
