.footer {
  text-align: center;
  padding-bottom: 40px;
}

.footerDivider {
  margin: 0 13px 40px;
  border: 1px solid var(--footer-divider-border-color);
}

.footerLink {
  color: var(--main-red-color);
}

.footerLink:hover {
  color: var(--main-red-hover-color);
}

.footerSocialIcons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.footerSocialIconLink:hover svg path {
  fill: var(--main-red-hover-color);
}

@media (max-width: 768px) {

  .footer {
    padding: 0 30px 20px;
  }

  .footerDivider {
    width: 100%;
    margin: 0 0 30px;
  }
}
