.footer {
  text-align: center;
}

.footer a {
  color: #EF4934;
}

.footer a:hover {
  color: #D43824;
}

.footerDivider {
  margin: 0 13px 40px;
  border-width: 1px;
  border-style: solid;
}

@media (max-width: 768px) {

  .footer {
    padding: 0 30px;
  }

  .footerDivider {
    width: 100%;
    margin: 0 0 30px;
  }
}

@media (prefers-color-scheme: dark) {

  .footerDivider {
    border-color: #333;
  }
}

@media (prefers-color-scheme: light) {

  .footerDivider {
    border-color: #CCC;
  }
}
