:global :root.dark {
  --footer-divider-border-color: #333;
}

:global :root.light {
  --footer-divider-border-color: #CCC;
}

@media (prefers-color-scheme: dark) {

  :root {
    --footer-divider-border-color: #333;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    --footer-divider-border-color: #CCC;
  }
}

.footer {
  text-align: center;
}

.footerDivider {
  margin: 0 13px 40px;
  border: 1px solid var(--footer-divider-border-color);
}

.footerLink {
  color: #EF4934;
}

.footerLink:hover {
  color: #D43824;
}

.footerSocialIcons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.footerSocialIconLink:hover svg path {
  fill: #D43824;
}

@media (max-width: 768px) {

  .footer {
    padding: 0 30px;
  }

  .footerDivider {
    width: 100%;
    margin: 0 0 30px;
  }
}
