.pageWrapper {
  width: 100%;
}

.contentWrapper {
  max-width: 1175px;
  margin: 0 auto;
}

.mainContentWrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1294px) {

  .contentWrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {

  .mainContentWrapper {
    padding: 10px 30px 30px;
  }

  .mobileMenuOpened .mainContentWrapper {
    display: none;
  }

  .mobileMenuOpened.pageWrapper {
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
