@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf");
  font-weight: 100 900;
  font-stretch: 25% 100%;
}

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  padding: 0 0 40px;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

p {
  margin: 0;
}

body {
  font-weight: 400;
  margin: 0;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.pageWrapper {
  width: 100%;
}

.contentWrapper {
  max-width: 1174px;
  margin: 0 auto;
}

.mainContentWrapper {
  padding-top: 60px;
  padding-bottom: 120px;
}

@media (max-width: 1294px) {

  .contentWrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 950px) {

  .mainContentWrapper {
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {

  :root {
    padding: 0 0 30px;
  }

  .mainContentWrapper {
    padding: 10px 30px 30px;
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    color: #FFF;
    background-color: #111;
  }

  a {
    color: #FFF;
  }

  a:hover {
    color: #FFF;
  }
}

@media (prefers-color-scheme: light) {

  :root {
    color: #111;
    background-color: #FFF;
  }

  a {
    color: #111;
  }

  a:hover {
    color: #111;
  }
}
