@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf");
  font-weight: 100 900;
  font-stretch: 25% 100%;
}

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: var(--page-text-color);
  background-color: var(--page-background-color);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  padding: 0 0 40px;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-red-color: #EF4934;
  --main-red-hover-color: #D43824;
  --main-white-color: #FFF;
  --main-grey-color: #111;
  --secondary-grey-color: #333;
  --third-grey-color: #585858;
  --fourth-grey-color: #CCC;
  --fifth-grey-color: #F1F1F1;
  --sixth-grey-color: #656565;
}

:root.dark {
  --page-background-color: var(--main-grey-color);
  --page-text-color: var(--main-white-color);
  --link-color: var(--main-white-color);
  --link-hover-color: var(--main-white-color);
}

:root.light {
  --page-background-color: var(--main-white-color);
  --page-text-color: var(--main-grey-color);
  --link-color: var(--main-grey-color);
  --link-hover-color: var(--main-grey-color);
}

@media (prefers-color-scheme: dark) {

  :root {
    --page-background-color: var(--main-grey-color);
    --page-text-color: var(--main-white-color);
    --link-color: var(--main-white-color);
    --link-hover-color: var(--main-white-color);
  }
}

@media (prefers-color-scheme: light) {

  :root {
    --page-background-color: var(--main-white-color);
    --page-text-color: var(--main-grey-color);
    --link-color: var(--main-grey-color);
    --link-hover-color: var(--main-grey-color);
  }
}

a {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

p {
  margin: 0;
}

body {
  font-weight: 400;
  margin: 0;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.pageWrapper {
  width: 100%;
}

.contentWrapper {
  max-width: 1175px;
  margin: 0 auto;
}

.mainContentWrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1294px) {

  .contentWrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {

  :root {
    padding: 0 0 30px;
  }

  .mainContentWrapper {
    padding: 10px 30px 30px;
  }
}
