@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf");
  font-weight: 100 900;
  font-stretch: 25% 100%;
}

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-red-color: #EF4934;
  --main-red-hover-color: #D43824;
  --main-white-color: #FFF;
  --main-grey-color: #111;
  --secondary-grey-color: #333;
  --third-grey-color: #585858;
  --fourth-grey-color: #CCC;
  --fifth-grey-color: #F1F1F1;
  --sixth-grey-color: #656565;
  --seventh-grey-color: #E1E1E1;
}

.dark {
  --page-background-color: var(--main-grey-color);
  --page-text-color: var(--main-white-color);
  --link-color: var(--main-white-color);
  --link-hover-color: var(--main-white-color);
  --button-border-color: var(--sixth-grey-color);
  --button-background-color: var(--main-grey-color);
  --button-text-color: var(--main-white-color);
  --header-center-menu-background-color: var(--main-grey-color);
  --header-link-color: var(--main-white-color);
  --header-mobile-link-color: var(--main-white-color);
  --header-mobile-mode-active-icon-color: var(--main-white-color);
  --header-mobile-mode-icon-color: var(--sixth-grey-color);
  --header-account-button-text-color: var(--main-white-color);
  --header-account-mobile-button-text-color: var(--main-white-color);
  --products-filter-search-background-color: var(--secondary-grey-color);
  --products-filter-search-text-color: var(--main-white-color);
  --products-filter-category-button-text-color: var(--main-white-color);
  --dropdown-opened-background-color: var(--secondary-grey-color);
  --dropdown-opened-text-color: var(--main-white-color);
  --dropdown-border-color: var(--sixth-grey-color);
  --dropdown-open-button-icon-color: var(--main-white-color);
  --dropdown-open-button-active-icon-color: var(--main-white-color);
  --product-card-border-color: var(--secondary-grey-color);
  --product-card-hover-background-color: var(--secondary-grey-color);
  --product-card-add-to-cart-icon-color: var(--main-white-color);
  --pagination-button-border-color: var(--sixth-grey-color);
  --pagination-button-hover-background-color: var(--sixth-grey-color);
  --pagination-disabled-button-hover-background-color: transparent;
  --pagination-disabled-button-border-color: var(--sixth-grey-color);
  --pagination-arrow-button-hover-background-color: var(--fourth-grey-color);
  --pagination-arrow-icon-color: var(--main-white-color);
  --pagination-arrow-icon-hover-color: var(--main-grey-color);
  --pagination-arrow-icon-disabled-color: var(--sixth-grey-color);
  --pagination-active-button-font-weight: 500;
  --product-details-container-border-color: var(--secondary-grey-color);
  --product-details-category-button-text-color: var(--main-white-color);
  --product-details-mobile-category-button-border-color: var(--seventh-grey-color);
  --product-details-mobile-category-button-background-color: var(--main-white-color);
  --product-details-mobile-category-button-text-color: var(--sixth-grey-color);
  --product-image-carousel-move-button-border-color: var(--sixth-grey-color);
  --product-image-carousel-move-button-icon-color: var(--main-white-color);
  --footer-divider-border-color: var(--secondary-grey-color);
}

.light {
  --page-background-color: var(--main-white-color);
  --page-text-color: var(--main-grey-color);
  --link-color: var(--main-grey-color);
  --link-hover-color: var(--main-grey-color);
  --button-border-color: var(--seventh-grey-color);
  --button-background-color: var(--main-white-color);
  --button-text-color: var(--secondary-grey-color);
  --header-center-menu-background-color: var(--main-white-color);
  --header-link-color: var(--main-white-color);
  --header-mobile-link-color: var(--main-grey-color);
  --header-mobile-mode-active-icon-color: var(--main-grey-color);
  --header-mobile-mode-icon-color: var(--sixth-grey-color);
  --header-account-button-text-color: var(--main-white-color);
  --header-account-mobile-button-text-color: var(--main-grey-color);
  --products-filter-search-background-color: var(--fifth-grey-color);
  --products-filter-search-text-color: var(--secondary-grey-color);
  --products-filter-category-button-text-color: var(--sixth-grey-color);
  --dropdown-opened-background-color: var(--main-white-color);
  --dropdown-opened-text-color: var(--sixth-grey-color);
  --dropdown-border-color: var(--seventh-grey-color);
  --dropdown-open-button-icon-color: var(--sixth-grey-color);
  --dropdown-open-button-active-icon-color: var(--main-white-color);
  --product-card-border-color: var(--fourth-grey-color);
  --product-card-hover-background-color: var(--fifth-grey-color);
  --product-card-add-to-cart-icon-color: var(--main-grey-color);
  --pagination-button-border-color: var(--fifth-grey-color);
  --pagination-button-hover-background-color: var(--fifth-grey-color);
  --pagination-disabled-button-hover-background-color: var(--fifth-grey-color);
  --pagination-disabled-button-border-color: var(--fifth-grey-color);
  --pagination-arrow-button-hover-background-color: var(--fifth-grey-color);
  --pagination-arrow-icon-color: var(--main-grey-color);
  --pagination-arrow-icon-hover-color: var(--main-grey-color);
  --pagination-arrow-icon-disabled-color: var(--fourth-grey-color);
  --pagination-active-button-font-weight: 700;
  --product-details-container-border-color: var(--fourth-grey-color);
  --product-details-category-button-text-color: var(--sixth-grey-color);
  --product-details-mobile-category-button-border-color: var(--seventh-grey-color);
  --product-details-mobile-category-button-background-color: var(--main-white-color);
  --product-details-mobile-category-button-text-color: var(--sixth-grey-color);
  --product-image-carousel-move-button-border-color: var(--fifth-grey-color);
  --product-image-carousel-move-button-icon-color: var(--main-grey-color);
  --footer-divider-border-color: var(--fourth-grey-color);
}

a {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

p {
  margin: 0;
}

body {
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
}

html, body, .root-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
